<%- include('../../partials/header.ejs',{title:'404 not found'})%>

<div class="container my-container">
  <h1 style="text-align: center;">404 Not Found</h1>
</div>


<%- include('../../partials/footer.ejs')%>

</body>
</html>