<%- include('../../partials/header.ejs',{title:'Internal Server Eroor'})%>

<div class="container my-container">
  <h1 style="text-align: center;">Internal Server Eroor</h1>
</div>


<%- include('../../partials/footer.ejs')%>

</body>
</html>